
@{
    ViewData["Title"] = "AboutUs";
}

@*Creates multiple div classes to style the website, and display information in the <p> tags*@
<div class="text-center">
    <h1 class="display-4">About Us</h1>
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <p>We are a family own business that is looking for a way to allow young entrepreneurs to spread their vision</p>
        <p>Our website allows you to sell and advertise your items to allow the world to take a look at your masterpieces</p>
        <p>Feel free to donate via PayPal or Patreon to keep this website looking beautiful!</p>
    </div>
</div>

