
@{
    ViewData["Title"] = "ContactUs";
}

@*Creates multiple div classes to style the website, and display information in the <p> tags*@
<div class="text-center">
    <h1 class="display-4">Contact Us</h1>
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <p>We offer 24/7 Email & Live Chat support -- Live Chat is under maintnance</p>
        <p>Contact us Via:</p>
        <p>Email - TheWorkshop@support.ca</p>
        <p>or</p>
        <p>Phone Number: 1-800-456-3443</p>
    </div>
</div>


