@{
    ViewData["Title"] = "Home Page";
}

@*Creates multiple div classes to style the website, and display information in the <p> tags*@
<div class="text-center">
    <h1 class="display-4">Welcome to The Workshop!</h1>
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <p>Looking for a place to show off your products and safely sell them to anyone across the world? Look no further</p>
        <p>TheWorkshop allows you to add, customize and sell your unique products at a very low fee! (your soul)</p>
        <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Products" asp-action="Create">Start selling your items now</a>
    </div>
</div>
